<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>你的外卖到了</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/dist/css/blog.css" rel="stylesheet">
    <link href="/static/dist/css/grid.css" rel="stylesheet">
{#    <link href="/static/ele/css/forward_201503262210.css" type="text/css" rel="stylesheet" />#}

    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #eeeeee">
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            {% block nav %}
                <a class="blog-nav-item active" href="#">首页</a>
                <a class="blog-nav-item" href="#">我的订单</a>
                <a class="blog-nav-item" href="#">商家加盟</a>
            {% endblock %}
            {% if not username %}
                <div class="navbar-right">
                    <nav class="blog-nav">
                        <a data-toggle="modal" data-target="#login" class="blog-nav-item" href="#">登陆</a>
                        <a data-toggle="modal" data-target="#signup" class="blog-nav-item" href="#">注册</a>
                    </nav>
                </div>
            {% else %}
                <div class="navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">username<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </div>
            {% endif %}
        </nav>
    </div>
</div>

{% block container %}
    <div class="container">
        <br>
        <div class="jumbotron" style="background-color: white">
            <span style="float: left">全部商家：</span>
            <ul class="nav nav-pills" style="float: left">
                <li><a href="#">早餐</a></li>
                <li><a href="#">午餐</a></li>
                <li><a href="#">下午茶</a></li>
                <li><a href="#">晚餐</a></li>
                <li><a href="#">宵夜</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-3" style="background-color: white">
                <div class="line-one">
                    <div class="logo-wrapper" style="float: left">
                        <div class="logo">
                            <div class="conform-logo-company"></div>
                            <a href="http://r.ele.me/ptnh-icidessert" target="_blank"><img class="restaurant-logo" alt="Ici Dessert甜品店" srcset="http://fuss10.elemecdn.com/7/38/83f7d7ba09e536a3d559ac90fb6bcjpeg.jpeg?w=42&amp;h=42 1x, http://fuss10.elemecdn.com/7/38/83f7d7ba09e536a3d559ac90fb6bcjpeg.jpeg?w=84&amp;h=84 2x" /></a>
                        </div>
                        <div class="deliver-time-wrapper tooltip_on" data-toggle="tooltip" title="平均送餐时间:30分钟">
                            30分钟
                        </div>
                    </div>
                    <div class="info" style="float: left; padding-left:10px;">
                        <div class="name">
                            <a class="restaurant-link" href="http://r.ele.me/ptnh-icidessert" target="_blank">Ici Dessert甜..</a>
                        </div>
                        <div class="flavors ">
                            甜点
                        </div>
                        <div class="ratings ">
                            <div class="r10 rating-star" title="餐厅评价：4.9星"></div>
                            <span class="rating-number">470份</span>
                        </div>
                        <div class="icons">
                            <span class="restaurant-icons online-payment tooltip_on" data-toggle="tooltip" title="该餐厅支持在线支付">&nbsp;</span>
                            <span class="restaurant-icons extra-discount tooltip_on" data-toggle="tooltip" title="在线支付满20减10">&nbsp;</span>
                            <span class="restaurant-icons new-user-discount tooltip_on" data-toggle="tooltip" title="饿了么新用户在该餐厅下首单，可立减15元">&nbsp;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">.col-md-4</div>
            <div class="col-md-3">.col-md-4</div>
            <div class="col-md-3">.col-md-4</div>
        </div>
    </div><!-- /.container -->
{% endblock %}

<footer class="blog-footer">
    <p>Build by <a href="https://github.com/mutestring">Bron Tu</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

<!--login modal-->
<div id="login" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-title">
                <h1 class="text-center">登录</h1>
            </div>
            <div class="modal-body">
                <form class="form-group" action="">
                    <div class="form-group">
                        <label for="">用户名</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="">密码</label>
                        <input class="form-control" type="password" placeholder="">
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">登录</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                    <a href="" data-toggle="modal" data-dismiss="modal" data-target="#signup">还没有账号？点我注册</a>
                </form>
            </div>
        </div>
    </div>
</div>

<!--signup modal-->
<div id="signup" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-title">
                <h1 class="text-center">注册</h1>
            </div>
            <div class="modal-body">
                <form class="form-group" action="">
                    <div class="form-group">
                        <label for="">用户名</label>
                        <input class="form-control" type="text" placeholder="6-15位字母或数字">
                    </div>
                    <div class="form-group">
                        <label for="">密码</label>
                        <input class="form-control" type="password" placeholder="至少6位字母或数字">
                    </div>
                    <div class="form-group">
                        <label for="">再次输入密码</label>
                        <input class="form-control" type="password" placeholder="至少6位字母或数字">
                    </div>
                    <div class="form-group">
                        <label for="">邮箱</label>
                        <input class="form-control" type="email" placeholder="例如:123@123.com">
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">提交</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                    <a href="" data-toggle="modal" data-dismiss="modal" data-target="#login">已有账号？点我登录</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/static/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
